.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -----------------nav----------------- */
@media screen and (max-width: 600px) {.nav-none{display: none;}}
/* -----------------nav----------------- */
/* -----------------page1----------------- */
@media screen and (max-width: 1000px) {.hero-text{font-size: 60px;} .hero-text-leading{line-height: 65px;} .hero-video{width: 22%;}}
@media screen and (max-width: 850px) {.hero-text{font-size: 50px;} .hero-video{width: 22%; height: 8%;} .hero-translate-text{transform: translateX(-60px);} .hero-text-leading{line-height: 50px;}}
@media screen and (max-width: 730px) {.hero-text{font-size: 40px;} .hero-video{width: 22%; height: 6%;} .hero-translate-text{transform: translateX(-50px);} .hero-texy-gap-div{width: 160px;} .hero-text-leading{line-height: 45px;}}
@media screen and (max-width: 555px) {.hero-text{font-size: 40px;} .hero-video{width: 22%; height: 8%;} .hero-translate-text{transform: translateX(-70px);} .hero-texy-gap-div{width: 140px;} .that{padding-right: 60px;} .hero-text-leading{line-height: 40px;} .hero{padding-left: 80px;}}
@media screen and (max-width: 525px) {.hero-text{font-size: 40px;} .hero-video{width: 24%; height: 6%; left: 52%;} .hero-translate-text{transform: translateX(-70px);} .hero-texy-gap-div{width: 140px;} .that{padding-left: 0px;} .hero-text-leading{line-height: 40px;} .hero{padding-left: 100px;}}
@media screen and (max-width: 491px) {.hero-text{font-size: 36px;} .hero-video{width: 24%; height: 6%; left: 56%;} .hero-translate-text{transform: translateX(-70px);} .hero-texy-gap-div{width: 140px;} .that{padding-right: 25px;} .hero-text-leading{line-height: 40px;} .hero{padding-left: 130px;}}
@media screen and (max-width: 440px) {.hero-text{font-size: 36px;} .hero-video{width: 27%; height: 6%; left: 58%;} .hero-translate-text{transform: translateX(-70px);} .hero-texy-gap-div{width: 140px;} .that{padding-right: 25px;} .hero-text-leading{line-height: 40px;} .hero{padding-left: 150px;}}
@media screen and (max-width: 430px) {.hero-text{font-size: 33px;} .hero-video{width: 27%; height: 6%; left: 58%;} .hero-translate-text{transform: translateX(-70px);} .hero-texy-gap-div{width: 140px;} .that{padding-right: 25px;} .hero-text-leading{line-height: 40px;} .hero{padding-left: 150px;}}
@media screen and (max-width: 397px) {.hero-text{font-size: 30px;} .hero-video{width: 27%; height: 6%; left: 58%;} .hero-translate-text{transform: translateX(-70px);} .hero-texy-gap-div{width: 140px;} .that{padding-right: 25px;} .hero-text-leading{line-height: 40px;} .hero{padding-left: 160px;}}
/* -----------------page1----------------- */
/* -----------------page2----------------- */
@media screen and (max-width: 1000px) {.page2-text{font-size: 60px;}.upperimg-container{height: 370px; width: 290px;}}
@media screen and (max-width: 850px) {.page2-text{font-size: 50px;}.upperimg-container{height: 350px; width: 270px;}}
/* @media screen and (max-width: 730px) {.page2-text{font-size: 50px;}.upperimg-container{height: 350px; width: 270px;}} */
/* -----------------page2----------------- */
/* -----------------page3----------------- */
@media screen and (max-width: 1000px) {.text-strok{font-size: 100px;}}
@media screen and (max-width: 850px) {.text-strok{font-size: 80px;}}
@media screen and (max-width: 730px) {.text-strok{font-size: 60px;}}
/* -----------------page3----------------- */
/* -----------------footer----------------- */
@media screen and (max-width: 1000px) {.f-text{font-size: 150px;}}
@media screen and (max-width: 850px) {.f-text{font-size: 130px;}}
@media screen and (max-width: 730px) {.f-text{font-size: 110px;}}
@media screen and (max-width: 550px) {.f-text{font-size: 110px;} .footer-none{display: none;}}
@media screen and (max-width: 440px) {.f-text{font-size: 90px;} .footer-none{display: none;}}
/* -----------------footer----------------- */