@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}
*{
  font-family: 'Futura Now Script', sans-serif;
}

.showimg:hover{
  cursor: pointer;
  opacity: 1 !important;
}
.page2-text, .upperimg, .upperimg-container, .upperimg-container-cont{
  pointer-events: none;
}
.text-strok{
  -webkit-text-stroke: 0.5px #fff;
}
.lineanime{
  /* transform: rotateY('90deg') !important; */
  /* transform: rotateX('90deg') !important; */
  transform-origin: left;
  /* transform: rotate(90deg); */
  /* position: absolute; */
  /* transform: rotateY('90deg'); */
  /* transform: rotateX('90deg'); */
  /* position: relative; */
  /* transform: rotateY('120deg'); */
  /* transform: rotateZ('90deg'); */
  
}



/* .line {
  background: dodgerblue;
  position: absolute;
  height: 4px;
  width: 10px;
  background-color: blueviolet;
} */

.line {
  background: dodgerblue;
  position: absolute;
}